* {
  font-family: "Poppins", sans-serif;
}

.main {
  background-image: url("image-folder/header-shapes\ mobile@2x.svg");
  background-color: #fff;
  background-repeat: no-repeat;
  background-size: cover;
}

.logo {
  font-size: 20px;
  font-weight: 700;
  color: #6070ff;
  font-family: "poppins", sans-serif;
}

.fa {
  font-size: 24px;
  color: #6070ff;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: -45px;
}

.author {
  line-height: 52px;
  letter-spacing: 0;
  text-align: left;
}

.author h1 {
  color: #172b4d;
  width: 100%;
  font-size: 40px;
  font-weight: 700;
}

.content p {
  color: #344563;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0;
  text-align: left;
}

/* PROJECT/ABOUT SECTION */

.project {
  display: grid;
}

.author0 {
  line-height: 52px;
  letter-spacing: 0;
  text-align: left;
}

.author0 h3 {
  color: #172b4d;
  width: 100%;
  font-size: 40px;
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
}

.content {
  height: 146px;
  width: 100%;
}

.content0 p {
  width: 80%;
  color: #344563;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0;
  text-align: left;
}

.connect a {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0;
  text-align: left;
}

.link {
  text-decoration: none;
  color: #7f8cff;
}

.social-pic {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.socials-icon {
  margin-left: -20px;
}

.social-pic li {
  list-style-type: none;
}

.card {
  background-color: #fff;
  border: 1px solid #dfe1e6;
  height: 552px;
  width: 295px;
  left: 24px;
  top: 114px;
  border-radius: 16px;
  padding: 10px;
  margin: auto;
  margin-top: 100px;
}

.project-heading h2 {
  width: 295px;
  font-family: "Poppins", sans-serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 44px;
  letter-spacing: 0;
  text-align: left;
  color: #172b4d;
}

.canopy {
  font-family: 'Poppins', sans-serif;
  font-weight: 550;
  font-size: 15px;
  display: flex;
  gap: 15px;
  color: #7a869a;
  margin-left: -40px;
}

.canopy li {
  list-style-type: none;
}

.senior {
  color: #172b4d;
}

.canopy-p {
  width: 295px;
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0;
  text-align: left;
  color: #344563;
}

.canopy-list {
  display: flex;
  gap: 25px;
  font-family: 'Poppins', sans-serif;
  margin-left: -40px;
}

.canopy-list li {
  list-style-type: none;
}

.list {
  font-size: 12px;
  border: #000 solid 0;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 5px;
  padding-top: 8px;
  border-radius: 8px;
  background-color: #ebebff;
  color: #6070ff;
  height: 15px;
}

.list0 {
  font-size: 12px;
  font-family: "Poppins", sans-serif;
  border: #000 solid 0;
  padding: 12px;
  border-radius: 8px;
  background-color: #ebebff;
  color: #6070ff;
  height: 15px;
}

.card-img1 {
  width: 295px;
  border-radius: 8px;
}

.btn {
  font-size: 17px;
  padding: 10px;
  border-radius: 8px;
  background-color: #fff;
  border: #6070ff solid 1px;
  color: #396df2;
  cursor: pointer;
}

.btn:hover {
  color: #fff;
  background-color: #396df2;
}

.about-section {
  width: 305px;
  top: 4769px;
  border-right: 1px solid #dfe1e6;
  border-top-right-radius: 40px;
  padding: 10px;
  margin: auto;
  margin-top: 100px;
}

.about-section button {
  margin-left: 25px;
}

.drop p {
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0;
  text-align: left;
}

.lang {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-left: 0;
}

.about0 h3 {
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0;
  text-align: left;
}

.lang li {
  list-style-type: none;
}

.lang-item {
  height: 66.7155990600586px;
  width: 303px;
  border: #f7f7f9 solid;
  background-color: #f7f7f9;
  border-radius: 8px;
  font-family: 'Poppins', sans-serif;
  padding-left: 5px;
  padding-top: 10px;
  font-size: 15px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0;
  text-align: left;
  color: #253858;
}

.im {
  margin-bottom: -20px;
}

.fas {
  height: 12px;
  width: 6px;
  border-radius: 0;
  color: #7a869a;
  margin-left: 300px;
}

#chev {
  color: #7a869a;
  rotate: 90deg;
}
